@import './funcoes.scss';

.corpo {
   
    background-color:  #67b0b4;

    .fita{

        width: 250px;
    }

    .subtitulo {

        
        color: white;
        text-align: center;
    }

    .img {

        display: flex
    }

    .textos {

        @include textoPadrao;
        color: black;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
    }

    .entradadedados {

        @include textoPadrao;
        left: 150px;
        position: relative;
        top: 170px;
    }
    #peso,#altura {
        
        border-style: groove;
        border-color: aquamarine;
        border-radius: 50px;
        margin-left: 30px;
        margin-right: 30px;
        height: 20px;
        text-align: center;
        width: 150px;

    }
    .botaoCalculo {

        
        border-color: aquamarine;
        border-style: groove;
        border-radius: 9999px;
        cursor: grab ;
        height: 25px;
        width: 100px;

    }
    .resultado {

        @include textoPadrao;
        border-radius: 9999px;
        border-style: groove;
        border-color: aquamarine;
        left: 200px;
        margin-top: 50px;
        position: relative;
        padding: 20px;
        width: 50%;
        
    }
    .resultadoNumero {

        margin-left: 30px;
        margin-top: 100px;
        
        
    }
}